

<table class="table">
 <caption>Zoznam nehnuteľností</caption>
	<thead>
		<tr>
			<th>Názov</th>
			<th>Dátum nadobudnutia</th>
			<th>Cena</th>
			<th>Dôvod nadobudnutia</th>
			<th>Veľkosť podielu</th>
			<th>Forma vlastníctva</th>
			<th>Zmena</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.admission_items.select{|i| i.category == 'estate'}.each do |item|%>
	 <tr>
	 	<td><%=item.name%></td>
	 	<td><%=item.acquisition_date%></td>
	 		<td><%=item.value > 0 ? item.value : '-' %></td>
	 	<td><%=item.acquisition_reason%></td>
		<td><%=item.ownership_part%></td>
		<td><%=item.ownership_form%></td>
	 	<td><%=item.change%></td>
	 </tr>
 	<%end%>
	</tbody>
<table>

<table class="table">
 <caption>Hnuteľné veci</caption>
	<thead>
		<tr>
			<th>Názov</th>
			<th>Dátum nadobudnutia</th>
			<th>Cena</th>
			<th>Veľkosť podielu</th>
			<th>Forma vlastníctva</th>
			<th>Zmena</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.admission_items.select{|i| i.category == 'chattel'}.each do |item|%>
	 	 <tr>
	 	<td><%=item.name%></td>
	 	<td><%=item.acquisition_date%></td>
	 	<td><%=item.value > 0 ? item.value : '-' %></td>
	 	<td><%=item.acquisition_reason%></td>
		<td><%=item.ownership_part%></td>
		<td><%=item.ownership_form%></td>
	 	<td><%=item.change%></td>
	 </tr>
 	<%end%>
	</tbody>
<table>


<table class="table">
 <caption>Majetkové práva</caption>
	<thead>
		<tr>
			<th>Názov</th>
			<th>Dátum nadobudnutia</th>
			<th>Cena</th>
			<th>Veľkosť podielu</th>
			<th>Forma vlastníctva</th>
			<th>Zmena</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.admission_items.select{|i| i.category == 'property_rights'}.each do |item|%>
	 		 <tr>
	 	<td><%=item.name%></td>
	 	<td><%=item.acquisition_date%></td>
	 	<td><%=item.value > 0 ? item.value : '-' %></td>
	 	<td><%=item.acquisition_reason%></td>
		<td><%=item.ownership_part%></td>
		<td><%=item.ownership_form%></td>
	 	<td><%=item.change%></td>
	 </tr>
 	<%end%>
	</tbody>
<table>


<table class="table">
 <caption>Peňažné záväzky</caption>
	<thead>
		<tr>
			<th>Názov</th>
			<th>Dátum nadobudnutia</th>
			<th>Cena</th>
			<th>Veľkosť podielu</th>
			<th>Forma vlastníctva</th>
			<th>Zmena</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.admission_items.select{|i| i.category == 'monetary_obligation'}.each do |item|%>
	 		 <tr>
	 	<td><%=item.name%></td>
	 	<td><%=item.acquisition_date%></td>
	 	<td><%=item.value > 0 ? item.value : '-' %></td>
	 	<td><%=item.acquisition_reason%></td>
		<td><%=item.ownership_part%></td>
		<td><%=item.ownership_form%></td>
	 	<td><%=item.change%></td>
	 </tr>
 	<%end%>
	</tbody>
<table>


<table class="table">
 <caption>Súbor hnuteľných vecí a majetkových práv</caption>
	<thead>
		<tr>
			<th>Názov</th>
			<th>Dátum nadobudnutia</th>
			<th>Cena</th>
			<th>Veľkosť podielu</th>
			<th>Forma vlastníctva</th>
			<th>Zmena</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.admission_items{|i| i.category = 'chattel_and_property_rights'}.each do |item|%>
	 		 <tr>
	 	<td><%=item.name%></td>
	 	<td><%=item.acquisition_date%></td>
	 	<td><%=item.value > 0 ? item.value : '-' %></td>
	 	<td><%=item.acquisition_reason%></td>
		<td><%=item.ownership_part%></td>
		<td><%=item.ownership_form%></td>
	 	<td><%=item.change%></td>
	 </tr>
 	<%end%>
	</tbody>
<table>


<table class="table">
 <caption>Príjmy a pôžitky</caption>
	<thead>
		<tr>
			<th>Názov</th>
			<th>Dátum nadobudnutia</th>
			<th>Cena</th>
			<th>Veľkosť podielu</th>
			<th>Forma vlastníctva</th>
			<th>Zmena</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.admission_items.select{|i| i.category == 'benefits'}.each do |item|%>
	 	<td><%=item.name%></td>
	<td><%=item.value > 0 ? item.value : '-' %></td>
 	<%end%>
	</tbody>
<table>


<table class="table">
 <caption>Blízke osoby</caption>
	<thead>
		<tr>
			<th>Meno</th>
			<th>Inštitúcia</th>
			<th>Funkcia</th>
		</tr>
	</thead>
	<tbody>
	 <% admission.close_people.each do |p|%>
	 	<td><%=p.name%></td>
	 		<td><%=p.institution%></td>
	 			<td><%=p.function%></td>
 	<%end%>
 	<tbody>
<table>
