<h2><%=@judge.name%></h2>
<ul class="nav nav-tabs">
<% @judge.admissions.each do |adm| %>

  <li role="presentation" class="active"><a data-toggle="tab" href="#admission-<%=adm.year%>"><%= adm.year%></a></li>
  <%end%>
</ul>

  <div class="tab-content">
      <% @judge.admissions.each do |adm| %>

      <h4>Majetkové priznanie sudcu za rok <%= adm.year%></h4>
<div id="admission-<%=adm.year%>" class="tab-pane fade in active">

        <%= render 'admission', admission: adm %>
      <%end%>
    </div>
